**/**.pyc
**/.vscode/**
.mypy_cache/
**/**MUJOCO_LOG.TXT
images/**
models/objects/**
tests/tracked_data.pkl
launch/calibration/set_workspace_params.py
**/build/**
recording*
*.bag
data/
**/**.Identifier
experiments/runs/*
experiments/runs_cache
.ipynb_checkpoints
*.txt
*.csv
experiments/plots
!experiments/data
!experiments/data/**/*.csv
!experiments/trial_configs/*.csv
*.TXT
*.zip
*.png
*.jpg
*.graph
*.log
*.npy
checkpoints/
*.bak
API_KEY
lab
# pixi environments
.pixi/*
!.pixi/config.toml
**/temp.xml
**/tmp.xml
stubs/